.author-container {
    max-width: $web-container-size;
    margin: 0 auto;
    .article-page__author {
        background-color: transparentize($font-secondary-color, 0.3);
        padding: 10px 20px;
        height: 60px;
        max-width: $web-container-size;
        margin: 0 auto;
        .author__photo {
            width: 60px;
            float: left;
            img {
                border-radius: 100%;
            }
        }
        .author__center-info {
            float: left;
            font-size: 12px;
            padding: 4px 12px;
            .author__name {
                line-height: 1.4;
            }
            .author__date {
                margin-top: 3px;
                color: $font-secondary-color;
            }
        }
    }
}




          
        
 