<div class="comments-container" id="comments-container">
   
    <section class="comments-list loading">
         <h2 class="comments-title">COMENTARIOS</h2>
        <div class="ui-status empty">
            No hay ningun comentario
        </div>
        <div class="ui-status error">
            Se ha producido un error
        </div>
        <div class="ui-status loading">
            Cargando...
        </div>
        <div class="ui-status ideal">
            
        </div>
    </section>
</div>