<div class="header-container">
    <header class="header">
        <div class="header__logo-container">
            <a href="index.html" class="link link--home">
                <img class="header__logo-img img" src="img-home/burrilogo.png" alt="Logotipo burricornium">
            </a>
        </div>
        <div class="header__actions-bar">
            <div class="header__log-actions">
                <div class="header__actions-bar-login action">Login |</div>
                <div class="header__actions-bar-register action">Registro</div>
            </div>
            <div class="header__actions-bar-search action"><i class="material-icons material-icons--search">search</i></div>
        </div>
        <nav class="header__nav-container">
            <ul class="header__nav-menu">
                <li><a href="index.html" class="header__nav-link">Inicio</a></li>
                <li><a href="#" class="header__nav-link">Popular</a></li>
                <li><a href="#" class="header__nav-link">Música</a></li>
                <li><a href="#" class="header__nav-link">Tecnología</a></li>
                <li><a href="#" class="header__nav-link">Creatividad</a></li>
                <li><a href="#" class="header__nav-link">Video</a></li>
                <li><a href="#" class="header__nav-link">Comic</a></li>
                <li><a href="#" class="header__nav-link">Cursos</a></li>
                <li><a href="#" class="header__nav-link">Deportes</a></li>
                <li><a href="#" class="header__nav-link">Programación</a></li>
                <li><a href="#" class="header__nav-link">Gastronomía</a></li>
                <li><a href="#" class="header__nav-link">Salir</a></li>
                <li><a href="#" class="header__nav-link">Fiestas</a></li>
                <li><a href="#" class="header__nav-link">Teatro</a></li>
                <li><a href="#" class="header__nav-link">Exposiciones</a></li>
            </ul>           
        </nav>
    </header>
</div>