<main class="main__container">
        <section class="articles-container">
            <article class="article">
                <div class="article__img-container spiderman-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">'Spider-Man: Homecoming' lidera la taquilla esta semana.</h2>
                        <p class="article__resume">Spider-Man: Homecoming, la primera aventura en solitario de Tom Holland como el superhéroe arácnido, 
                            haliderado en su segundo fin de semana en cartelera la taquilla española, gracias a sus 1,1 millones 
                            de euros recaudados, según datos recogidos de comScoreMoviesSpain.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/spiderman-author.jpeg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Duende verde</div>
                            <div class="author__date">09/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

            <article class="article">
                <div class="article__img-container"> 
                      <iframe class="queens-video" src="https://www.youtube.com/embed/b-NKxVezxe0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Primer teaser del nuevo disco de Queens Of The Stone Age.</h2>
                        <p class="article__resume">Hoy por la mañana hemos empezado a mordernos las uñas de las 
                            manos al enterarnos que Queens Of The Stone Age acababan de actualizar su web 
                            oficial con un críptico nuevo “look”. Ni medio día ha pasado desde entonces,
                            y Josh Homme y los suyos vuelven a golpear fuerte en los medios publicando 
                            el emocionante primer vídeo teaser de lo que se avecina.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/queens-author.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Chiquito</div>
                            <div class="author__date">09/01/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container mirror-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">
                            'Black mirror' presenta su cuarta temporada en la que viajará al espacio.
                        </h2>
                        <p class="article__resume">Netflix comienza a promocionar la cuarta temporada de 'Black Mirror', 
                            que estará compuesta de seis nuevas historias cuyos títulos acaban de ser revelados junto con 
                            información de su equipo creativo e intérpretes, así como un teaser que nos ofrece los primeros
                            vistazos de estas entregas.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/goku.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Son Gohanda</div>
                            <div class="author__date">09/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container caballeros-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">'Los caballeros del zodíaco' tebdrán nueva serie gracias a Neftlix.</h2>
                        <p class="article__resume">En Netflix parecen tener muy claro que, si algo funciona, hay que explorar sus variantes. 
                            Tras el éxito de la reciente ‘Castlevania’, ¿por qué no probar con otra serie que atraiga a 
                            los amantes del entretenimiento japonés?</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/trump.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Donald Trump</div>
                            <div class="author__date">08/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container walking-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Todo lo que sabemos sobre la temporada 8 de 'The Walking Dead'.</h2>
                        <p class="article__resume">La serie de zombis más popular de la
                             televisión regresará el próximo otoño con su octava temporada 
                             que promete ser espectacular a causa de la gran guerra que se avecina.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/eddie.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Eddie Maiden</div>
                            <div class="author__date">09/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container foo-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Foo Fighters
ofrece un contundente concierto en el Mad Cool.</h2>
                        <p class="article__resume">Apenas tres horas antes, parecía
                             el fin del mundo. Una de esas tempestades de verano
                              que, en cuestión de segundos, se convierten en
                               diluvios universales. El cielo se caía sobre 
                               las cabezas y amenazaba con hundir la primera 
                               jornada del Mad Cool, el macrofestival madrileño
                                que arrancó anoche con todas las entradas vendidas. 
                                Pero, a veces, las nubes más oscuras traen tormentas 
                                perfectas, momentos irrepetibles, fuerzas de la naturaleza. 
                                A veces, existen bandas como Foo Fighters, cabezas de cartel 
                                del certamen, que ofrecieron un concierto arrasador, como esa 
                                lluvia que se lleva todo por delante, incluidos los malos 
                                presagios.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/courtney.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Courtney Love</div>
                            <div class="author__date">06/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container plants-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Plantas versus Zombies recibe una actualización masiva.</h2>
                        <p class="article__resume">PopCap ha lanzado una actualización
                             masiva para Plants vs Zombies 2 con nuevos enemigos y un
                              cambio en el sistema del juego: ¡adiós a las llaves! El 
                              famoso tower defense vio la luz apenas unos meses atrás
                               (agosto iOS, octubre Android) y aunque conservaba la esencia de
                                su predecesor, había apostado por un sistema que daba 
                                protagonismo a los micropagos, haciendo más difícil 
                                avanzar entre mundos que en el original Plants vs Zombies. 
                                Eso cambia un poco con esta nueva versión.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/michael.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Michael Jackson</div>
                            <div class="author__date">09/04/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

                        <article class="article">
                <div class="article__img-container keep-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Cursos y Bootcamps de programación Web y Mobile.</h2>
                        <p class="article__resume">Somos nerds. Somos técnicos. Trabajamos en el sector.

Hablamos poco, programamos mucho y amamos el código.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/burricornio.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Burricornio</div>
                            <div class="author__date">09/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

            <article class="article">
                <div class="article__img-container skate-article"> </div>
                <div class="article__info">
                    <a href="article.html" class="link link--article">
                        <h2 class="article__title">Zona Retiro -Abre el esperado 'skate park' de Legazpi.</h2>
                        <p class="article__resume">El proyecto Madrid Río cuenta con pistas de skate y patinaje, situadas junto al río en el Parque de la Arganzuela, y pese al mal tiempo son las zonas más concurridas del proyecto tras su apertura el pasado 15 de abril, según ha informado este jueves el Ayuntamiento. De sus 2.315 metros cuadrados, 1.696 corresponden al skate park y 619 a las pistas de patinaje, que han sido muy bien recibidas por los madrileños; principalmente por los aficionados a estos deportes, que llevaban varios años esperando su apertura.</p>
                    </a>
                    <div class="article__author">    
                        <div class="author__photo">
                             <img src="img-home/burricornio.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">Burricornio</div>
                            <div class="author__date">09/02/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

            <article class="article">
                <div class="article__img-container destiny-article"> </div>
                <div class="article__info">
                     <a href="article.html" class="link link--article">
                        <h2 class="article__title">Destiny 2 en PC; ¿la experiencia definitiva?</h2>
                        <p class="article__resume">Hace un tiempo desde que se puso a disposición de todo el mundo la ansiada beta que nos permitiría probar por fin, de primera mano, lo que Destiny 2 tenía que ofrecer. Sin embargo, esta versión de prueba llegaba, al igual que lo hará el juego final, de forma escalonada, apareciendo primero en consolas y más tarde en PC. Lo cierto es que las primeras impresiones que dejaba esta prueba, que yo pude disfrutar en PlayStation 4, eran bastante contradictorias y para nada resolvieron en mí las dudas que había suscitado la relación de amor-odio que muchos tuvimos con el Destiny original. Pero, ahora, por fin hemos podido disfrutar de la beta en PC y la verdad es que las cosas han cambiado al disfrutar del juego en esta nueva plataforma.</p>
                     </a>
                    <div class="article__author">    
                        <div class="author__photo">
                            <img src="img-home/papa.jpg" alt="Author post photo">
                        </div>
                        <div class="author__center-info">
                            <div class="author__name">El Papa</div>
                            <div class="author__date">09/04/2017</div>
                        </div>
                        <div class="author__like">
                            <i class="material-icons thumb-up">thumb_up</i>
                            <span class="like-counter"></span>
                        </div>
                    </div>
                    <a class="goToCommnets" href="article.html#comments-container">
                        <div class="number-of-comments"></div>
                    </a>
                </div>
            </article>

        </section>
    </main>